/* =======================================
THREE DIGIT COLOR UTILITIES
======================================= */
@each $event in active, focus, disabled, visited, hover {
  @for $a from 0 to 9 {
    @for $b from 0 to 9 {
      @for $c from 0 to 9 {
        .u-on-$(event)-text-color-$(color):$(event) {
          color: #$(a)$(b)$(c) !important;
        }
        .u-on-$(event)-background-color-$(color):$(event) {
          background-color: #$(a)$(b)$(c) !important;
        }
        .u-on-$(event)-border-color-$(color):$(event) {
          border-color: #$(a)$(b)$(c) !important;
        }
        .u-on-$(event)-stroke-color-$(color):$(event) {
          stroke: #$(a)$(b)$(c) !important;
        }
        .u-on-$(event)-fill-color-$(color):$(event) {
          fill: #$(a)$(b)$(c) !important;
        }
      }
    }
  }
}