:root {
  --percentage-highest-91: 91%;
  --percentage-higher-78: 78%;
  --percentage-high-65: 65%;
  --percentage-median-52: 52%;
  --percentage-low-39: 39%;
  --percentage-lower-26: 26%;
  --percentage-lowest-13: 13%;

  --percentage-20: 20%;
  --percentage-40: 40%;

  --percentage-link-hover: 25%;
}
