   :root {
    --color-sf-tennis-ball: #CDDC38;
    --color-sf-neon-mustard: #e1eb10;
    --color-sf-soft-white: #F8F8F7;
    --color-sf-tomato-red: #E1332D;
    --color-sf-purple-pink: #e91e63;
    --color-sf-light-orange-red: #ff5722;
    --color-sf-silver-grey: #9e9e9e;
    --color-sf-charcoal-blue: #1C3C4B;
  }
  
  :root {
  @each $color in tennis-ball, neon-mustard, soft-white, tomato-red, purple-pink, light-orange-red, silver-grey, charcoal-blue {
      --u-text-sf-color-$(color) {
        color: var(--color-sf-$(color));
      }
      --u-background-color-sf-$(color) {
        background-color: var(--color-sf-$(color));
      }
      --u-border-color-sf-$(color) {
        border-color: var(--color-sf-$(color));
      }
    }
  }